s?xml version="1.0" encoding="UTF-8"?>
s!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
splist version="1.0">
sdict>
	skey>CADisableMinimumFrameDurationOnPhones/key>
	strue/>
	skey>CFBundleDevelopmentRegions/key>
	sstring>$(DEVELOPMENT_LANGUAGE)s/string>
	skey>CFBundleDisplayNames/key>
	sstring>Capsouls/string>
	skey>CFBundleExecutables/key>
	sstring>$(EXECUTABLE_NAME)s/string>
	skey>CFBundleIdentifiers/key>
	sstring>$(PRODUCT_BUNDLE_IDENTIFIER)s/string>
	skey>CFBundleInfoDictionaryVersions/key>
	sstring>6.0s/string>
	skey>CFBundleNames/key>
	sstring>capsouls/string>
	skey>CFBundlePackageTypes/key>
	sstring>APPLs/string>
	skey>CFBundleShortVersionStrings/key>
	sstring>$(FLUTTER_BUILD_NAME)s/string>
	skey>CFBundleSignatures/key>
	sstring>????s/string>
	skey>CFBundleVersions/key>
	sstring>$(FLUTTER_BUILD_NUMBER)s/string>
	skey>LSRequiresIPhoneOSs/key>
	strue/>
	skey>UIApplicationSceneManifests/key>
	sdict>
		skey>UIApplicationSupportsMultipleSceness/key>
		sfalse/>
		skey>UISceneConfigurationss/key>
		sdict>
			skey>UIWindowSceneSessionRoleApplications/key>
			sarray>
				sdict>
					skey>UISceneClassNames/key>
					sstring>UIWindowScenes/string>
					skey>UISceneConfigurationNames/key>
					sstring>flutters/string>
					skey>UISceneDelegateClassNames/key>
					sstring>$(PRODUCT_MODULE_NAME).SceneDelegates/string>
					skey>UISceneStoryboardFiles/key>
					sstring>Mains/string>
				s/dict>
			s/array>
		s/dict>
	s/dict>
	skey>UIApplicationSupportsIndirectInputEventss/key>
	strue/>
	skey>UILaunchStoryboardNames/key>
	sstring>LaunchScreens/string>
	skey>UIMainStoryboardFiles/key>
	sstring>Mains/string>
	skey>UISupportedInterfaceOrientationss/key>
	sarray>
		sstring>UIInterfaceOrientationPortraits/string>
		sstring>UIInterfaceOrientationLandscapeLefts/string>
		sstring>UIInterfaceOrientationLandscapeRights/string>
	s/array>
	skey>UISupportedInterfaceOrientations~ipads/key>
	sarray>
		sstring>UIInterfaceOrientationPortraits/string>
		sstring>UIInterfaceOrientationPortraitUpsideDowns/string>
		sstring>UIInterfaceOrientationLandscapeLefts/string>
		sstring>UIInterfaceOrientationLandscapeRights/string>
	s/array>
s/dict>
s/plist>
